<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Raspored</title>
    <link rel="stylesheet" href="../static/stil.css">
  </head>
  <body>
      <h1>Balevic Nikola S42/19</h1>
    <div class="container">
      <form>
        <label for="pretraga">Pretrazi:</label>
        <input id="pretraga" type="text" onkeyup="onInputChange(event)" onchange="onInputChange(event)"/>
      </form>
      <table class="tabelaRaspored">
        <tr>
          <th>Predmet</th>
          <th>Tip</th>
          <th>Nastavnik</th>
          <th>Grupe</th>
          <th>Dan</th>
          <th>Termin</th>
          <th>Vreme</th>
        </tr>
        {% for i in raspored %}
        <tr class="data">
          <td>{{i[1]}}</td>
          <td>{{i[2]}}</td>
          <td>{{i[3]}}</td>
          <td>{{i[4]}}</td>
          <td>{{i[5]}}</td>
          <td>{{i[6]}}</td>
          <td>{{i[7]}}</td>
        </tr>
        {% endfor %}
      </table>
      <div class="tabelaBtn">
        <table>
          <tr>
            <th>Nastavnici</th>
          </tr>
          {% for nastavnik in nastavnici %}
          <tr>
            <th>
              <button onclick="onLinkClick(event)">{{nastavnik}}</button>
            </th>
          </tr>
          {% endfor %}
        </table>
        <table>
          <tr>
            <th>Ucionice</th>
          </tr>
          {% for x in ucionica %}
          <tr>
            <th>
              <button onclick="onLinkClick(event)">{{x}}</button>
            </th>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </body>

  <script src="../static/skripta.js"></script>
</html>
