.container {
  width: 1300px;
  margin: 0 auto;
}

.tabelaRaspored td {
  border: 1px solid black;
}

.tabelaRaspored tr:nth-of-type(odd) {
  background-color: skyblue;
}

.tabelaRaspored tr:nth-of-type(even) {
  background-color: blue;
}

.tabelaRaspored td {
  padding: 5px 15px;
}

form {
  padding-bottom: 15px;
  text-align: center;
}

.tabelaBtn {
  display: flex;
  justify-content: space-around;
}

.d-none {
  display: none;
}
